.App {
  text-align: center;
  padding-top: 56px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.site-container {
  margin: 2em;
}

.navbar {
  background-color: #002D72;
}
.navbar-brand{
  color:#ffffff !important;
  }

.navbar-nav, .nav-link {
  color: #ffffff !important;
  border-width: 0ch;

  &:hover {
    color: white;
  }
}

.profile {
  /* display: flex; */
  margin-top: 50px;
  /* background-color: blueviolet; */
  /* align-items: stretch; */
}

.profile-pic {
  height: 100px;
  width: 100px;
}

.profile-info {
  /* background-color: green; */
  width: 100%;
}

.contact-name {
  font-size: xx-large;
  text-align: center;
  padding: 10px;
}

.contact-email {
  font-size: large;
  text-align: center;
  padding: 5px;
}

.user-results {
  /* background-color: bisque; */
}

.user-info {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  align-items: stretch;
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: var(--secondary-color);
  background: var(--main-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.message {
  margin: 15px 0;
}

.message div:nth-child(1) {
  font-size: 11px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.message div:nth-child(2) {
  background: var(--main-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.message-list {
  box-sizing: border-box;
  padding: 0 0 0 6px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: white;
}

.send-message-form {
  background: var(--send-message-form);
  display: flex;
  box-sizing: border-box;
  height: 60px;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  border: none;
  margin: 0;
  background: var(--send-message-form);
  font-weight: 200;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: black;
}
